modules = ["php-8.2", "web", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
APP_NAME = "NEXUS"
APP_ENV = "local"
APP_DEBUG = "true"
APP_URL = "http://localhost:5000"
LOG_CHANNEL = "stack"
LOG_LEVEL = "debug"
DB_CONNECTION = "pgsql"
BROADCAST_DRIVER = "log"
CACHE_DRIVER = "file"
FILESYSTEM_DISK = "public"
QUEUE_CONNECTION = "sync"
SESSION_DRIVER = "file"
SESSION_LIFETIME = "120"
APP_KEY = "base64:ZO5fuue6yVMw9oc+4tw5VwwNq8ViVDeRY3Jcm8qjrkQ="
MPESA_SHORTCODE = "174379"
MPESA_ENV = "sandbox"
MPESA_CONSUMER_KEY = "tqRnGX8FUN1qHYyIoC4VBpH7AOl855kTltvtUARby0tKKwe1"
MPESA_CONSUMER_SECRET = "nkesbMKa7USM0GVUBSqjDd0SO2mCv5Gp4XyGAzFnzSjfL9acJjGCNIouBkfUn8tv"
MPESA_PASSKEY = "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Laravel Server"

[[workflows.workflow]]
name = "Start Laravel Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34555
externalPort = 3001

[[ports]]
localPort = 45543
externalPort = 3000

[[ports]]
localPort = 45579
externalPort = 3002

[[ports]]
localPort = 45641
externalPort = 3003

[[ports]]
localPort = 45855
externalPort = 4200
