modules = ["php-8.2", "web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
APP_NAME = "Laravel"
APP_ENV = "local"
APP_DEBUG = "true"
APP_URL = "https://741258ea-9dd6-4785-820d-46003c1841e7-00-2oblaihzwaauz.janeway.replit.dev"
LOG_CHANNEL = "stack"
LOG_LEVEL = "debug"
DB_CONNECTION = "pgsql"
BROADCAST_DRIVER = "log"
CACHE_DRIVER = "file"
FILESYSTEM_DISK = "local"
QUEUE_CONNECTION = "sync"
SESSION_DRIVER = "file"
SESSION_LIFETIME = "120"
APP_KEY = "base64:vUsIX20nkLtuGgzoxePf/luKMUhlrfL/y/+YVor/UWQ="
MPESA_SHORTCODE = "174379"
MPESA_ENV = "sandbox"
LOG_DEPRECATIONS_CHANNEL = "null"
MPESA_CONSUMER_KEY = "tqRnGX8FUN1qHYyIoC4VBpH7AOl855kTltvtUARby0tKKwe1"
MPESA_CONSUMER_SECRET = "nkesbMKa7USM0GVUBSqjDd0SO2mCv5Gp4XyGAzFnzSjfL9acJjGCNIouBkfUn8tv"
MPESA_PASSKEY = "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
MPESA_CALLBACK_URL = "https://741258ea-9dd6-4785-820d-46003c1841e7-00-2oblaihzwaauz.janeway.replit.dev/payment/mpesa/callback"
MEMCACHED_HOST = "127.0.0.1"
REDIS_HOST = "127.0.0.1"
REDIS_PASSWORD = "null"
REDIS_PORT = "6379"
MAIL_MAILER = "smtp"
MAIL_HOST = "mailpit"
MAIL_PORT = "1025"
MAIL_USERNAME = "null"
MAIL_PASSWORD = "null"
MAIL_ENCRYPTION = "null"
MAIL_FROM_ADDRESS = "hello@example.com"
MAIL_FROM_NAME = "Laravel"
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_DEFAULT_REGION = "us-east-1"
AWS_BUCKET = ""
AWS_USE_PATH_STYLE_ENDPOINT = "false"
PUSHER_APP_ID = ""
PUSHER_APP_KEY = ""
PUSHER_APP_SECRET = ""
PUSHER_HOST = ""
PUSHER_PORT = "443"
PUSHER_SCHEME = "https"
PUSHER_APP_CLUSTER = "mt1"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Laravel Server"

[[workflows.workflow]]
name = "Start Laravel Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34515
externalPort = 5000

[[ports]]
localPort = 34555
externalPort = 3001

[[ports]]
localPort = 34917
externalPort = 6000

[[ports]]
localPort = 35579
externalPort = 5173

[[ports]]
localPort = 42981
externalPort = 4200

[[ports]]
localPort = 45543
externalPort = 3000

[[ports]]
localPort = 45579
externalPort = 3002

[[ports]]
localPort = 45641
externalPort = 3003
